
    <div style="width:65%; height: 100%; display: inline-block">
        <div class="carrossel"><marquee>{{testeMessage}}</marquee></div>
    </div>
    
    <div style="width:14%; height: 100%; padding: 15px; display: inline-block; border-left: 1px solid black">
        <div style="width:100%; height: 100%; text-align: justify; display: table; table-layout: fixed;">
            <span style="font-size: 3.5vw; line-height: 1vw; color: black; cursor: pointer; display: table-cell; text-align: center;" ng-click="navigation(-1)" class="glyphicon glyphicon-step-backward"></span>
            <span ng-show="!pause" ng-click="pause = !pause; navigation(0, pause)" style="font-size: 3.5vw; line-height: 1vw; color: black; cursor: pointer; display: table-cell; text-align: center;" class="glyphicon glyphicon-pause"></span>
            <span ng-show="pause" ng-click="pause = !pause; navigation(0, pause)" style="font-size: 3.5vw; line-height: 1vw; color: black; cursor: pointer; display: table-cell; text-align: center;" class="glyphicon glyphicon-pause"></span>
            <span style="font-size: 3.5vw; line-height: 1vw; color: black; cursor: pointer; display: table-cell; text-align: center;" ng-click="navigation(1)" class="glyphicon glyphicon-step-forward"></span>
        </div>
    </div>
                
    <div style="width:20%; height: 100%; display: inline-block; border-left: 1px solid black">
        <span style="position: absolute; font-size: 1.5vw; margin-left: 0.5vw; line-height: 3.9vw;" >{{date | date: 'dd/MM/yyyy HH:mm:ss'}}</span>
    </div>
