<div class="row">
    <h3 class="col-lg-4 col-lg-offset-1 unselectableText" id="title">Metas</h3>
</div>
<div class="row">
    <div class="list-view col-lg-10 col-lg-offset-1">
        <div class="row navbar">
            <button class="btn btn-primary" ng-click="openModal('createModal', ''); toggle('nul', 'details');">Criar Nova</button>
            <input class="form-control searchbar" type="text" ng-model="search" placeholder="Procurar Meta" />
            <!--{{thingLvlList}}
            <select class="form-control selectbox" ng-model="lvlSelected" ng-options="level.thingLvlDescription for level in thingLvlList| orderBy:'thingLvl'">
             </select>-->
        </div>
        <div class="row">
            <div class="list-navbar">
                <div class="list-header col-lg-1 division" id='order-id'><a href="" ng-click="orderBy('id', 'order-id')">Id <span class="glyphicon"></span></a></div>
                <div class="list-header col-lg-2 division" id='order-relationship'><a href="" ng-click="orderBy('thingType', 'order-relationship')">Relacionamento <span class="glyphicon"></span></a></div>
                <div class="list-header col-lg-3 division" id='order-grupo'><a href="" ng-click="orderBy('thingName', 'order-grupo')">Nome <span class="glyphicon"></span></a></div>
                <div class="list-header col-lg-2 division" id='order-tipo'><a href="" ng-click="orderBy('type', 'order-tipo')">Tipo <span class="glyphicon"></span></a></div>
                <div class="division col-lg-2 list-header" id='order-product'><a href="" ng-click="orderBy('product', 'order-product')">Produto<span class="glyphicon"></span></a></div>
                <div class="division col-lg-1 list-header">Gerenciamento</div>
            </div>

            <img ng-if="dataLoading" class="loadingImg" ng-src="{{loadingSrc}}" />

            <!--<div ng-repeat="meta in metaList| filter:{columnNameData[$index]:search}" last-item> -->
            <div ng-repeat="meta in metaList | filter:search | orderBy:orderCrit:orderDir" last-item on-finish-render="ngRepeatFinished">

                <div class="col-lg-12 list-item">
                    <!-- Coluna 0 : ID -->
                    <div class="col-lg-1 ">{{meta.goalId}}</div>

                    <!--Coluna 1-->
                    <div class="col-lg-2 division" ng-model="goalRelationship" ng-if="meta.thingType">Tipo de Organização</div>
                    <div class="col-lg-2 division" ng-model="goalRelationship" ng-if="meta.thingName">Organização</div>

                    <!--Coluna 2-->
                    <div class="col-lg-3 division" ng-show="meta.thingName">{{meta.thingName}}</div>
                    <div class="col-lg-3 division" ng-show="meta.thingType">{{meta.thingType }}</div>
                    <!--Coluna 3-->
                    <div class="col-lg-2 division" ng-show="meta.type=='production'">Produção</div>
                    <div class="col-lg-2 division" ng-show="meta.type=='measurement'">Medição</div>
                    <div class="col-lg-2 division" ng-show="meta.type== 'wip'">WIP</div>
                    <div class="col-lg-2 division" ng-show="meta.type== 'lineset'">Line-Set</div>
                    <div class="col-lg-2 division" ng-show="meta.type== 'lineset_queue'">Fila do Line-Set</div>
                    <div class="col-lg-2 division" ng-show="meta.type== null"></div>

                    <!-- Coluna 4-->
                    <div class="col-lg-2 division" ng-model="nEngine" ng-show="meta.product" >Non Engine</div>
                    <div class="col-lg-2 division" ng-model="nEngine" ng-show="meta.product == null">Todos</div>

                    <!-- Coluna 5-->
                    <div class="col-lg-2 division">
                        <span data-ng-click="selectGoal(meta); toggle('view-meta-' + meta.goalId, 'details'); bool = !bool"
                              ng-class="{'glyphicon glyphicon-expand': !bool, 'glyphicon glyphicon-collapse-down': bool}"
                              class="goalinternal-btn"></span>
                    </div>
                </div>
                <div class="details col-lg-12" id="view-meta-{{meta.goalId}}" ng-include="'metaManagement.html'"></div>
            </div>
        </div>
    </div>
</div>
<!--Modal Nova Meta-->
<div class="modal" id="createModal" ng-style="{'z-index': '1'}">
    <form class="modal-content col-lg-10 col-lg-offset-1" name="groupForm" overflow="auto">
        <span class="close" ng-click="clearAllFields(); closeModal('createModal', meta)">×</span>
        <h4>Criar Nova Meta</h4>
        <br>
        <fieldset class="form-group col-lg-12">
            <label>Vincular com: </label> <br />
            <input type="radio" name="relationship" ng-disabled="meta.thingType || thing" ng-model="goalRelate" ng-value="true" checked /> Organização
            <!--<input type="radio" name="relationship" ng-disabled="meta.thingType || thing" ng-model="goalRelate" ng-value="false" /> Tipo de Organização-->
        </fieldset>
        <fieldset class="form-group col-lg-6">
            <label>Tipo de Meta</label>
            <select class="form-control" ng-model="meta.type" ng-disabled="meta.thingType || thing">
                <option value="" disabled selected>Selecionar</option>
                <option value="production">Produção</option>
                <option value="wip"  ng-show="goalRelate" ng-model="wipOption" ng-selected="goalRelate">WIP</option>
                <option value="lineset" ng-show="goalRelate" >Line-Set</option>
                <option value="lineset_queue" ng-show="goalRelate">Fila do Line-Set</option>
            </select>
        </fieldset>


        <!--  TODO: Required. NG-DISPLAY ? -->
        <fieldset ng-show="!goalRelate" class="form-group col-lg-6">
            <label>Tipo da Organização</label>
            <select name="tt" ng-model="meta.thingType" class="form-control">
                <option value="" disabled selected>Selecione o Tipo da Organização</option>
                <option ng-repeat="thingTypeItem in thingTypeList" value="{{thingTypeItem.thingType}}">{{thingTypeItem.thingType}}</option>
            </select>
        </fieldset>


        <fieldset ng-show="goalRelate" class="form-group col-lg-6">
            <label>Nível da Organização</label>
            <select name="tt" ng-model="meta.thingLvl" ng-disabled="thing" class="form-control">
                <option value="" disabled selected>Selecione o Nível da Organização</option>
                <option ng-repeat="thingLvl in thingLvlList" value="{{thingLvl.thingLvl}}">{{thingLvl.thingLvlDescription}}</option>
            </select>
        </fieldset>


        <fieldset ng-show="goalRelate && meta.thingLvl" class="form-group col-lg-6">
            <label>Selecione uma Organização</label>
            <select class="form-control" ng-model="thing" ng-options="thing as thing.name for thing in thingsOfLvl(meta.thingLvl)">
                <option value="" disabled selected>Selecionar</option>
            </select>
        </fieldset>

        <!--<fieldset class="form-group col-lg-6"  ng-show="meta.type =='wip' && goalRelate" >
            <br />
            <input type="checkbox" ng-model="meta.product" ng-false-value="null" ng-true-value='"nonengine"' /> Non Engine
        </fieldset>-->

        <fieldset ng-show="meta.thingType || thing && meta.type" class="form-group col-lg-12">
            <div class="col-lg-12" ng-include="'metaManagement.html'"></div>
        </fieldset>

        <div class="col-lg-12">
            <button class="btn btn-success btnModal" ng-disabled="!meta.Metrics||!meta.type" data-ng-click="createMeta(meta,thing); closeModal('createModal', meta);">Criar Meta</button>
            <button class="btn btn-danger cancel btnModal" ng-click="clearAllFields(); closeModal('createModal', meta)">Cancelar</button>
        </div>
    </form>
</div><!--End Modal Nova Meta-->
<!-- Modal confirmação delete -->
<div class="modal" id="confirmationDialog">
    <form class="modal-content col-lg-2 col-lg-offset-5">
        <span class="close" ng-click="closeModal('confirmationDialog')">×</span>
        <p class="dialog-text col-lg-12">{{dialogMsg}}</p>
        <br>
        <button class="dialog-btn btn btn-primary col-lg-5" data-ng-click="deleteMeta(selectedGoal); closeModal('confirmationDialog');">Sim</button>
        <button class="dialog-btn btn btn-danger col-lg-5 col-lg-offset-2" data-ng-click="closeModal('confirmationDialog')">Nâo</button>
        <br>
    </form>
</div> <!-- End Confirmation Modal -->


