<form role="form">
    <fieldset>
        <div class="row">
            <h4>DETALHES DO ESTADO</h4>
        </div>   
        <div class="row">
            <div class="col-lg-3">
                <label>Descrição:</label>
            </div>
            <div class="col-lg-8">
                {{selectedState.descState}}
            </div>
        </div>           
        <div class="row">
            <div class="col-lg-3">
                <label>Mensagem:</label>
            </div>
            <div class="col-lg-8">
                {{selectedState.message}}
            </div>        
        </div>      
    </fieldset>
</form>